<main
  class="main-content position-relative max-height-vh-100 h-100 border-radius-lg"
>
  <!-- Navbar -->
  <nav
    class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
    id="navbarBlur"
  >
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a
              class="text-dark"
              href="javascript:;"
            >Pages</a></li>
          <li
            class="breadcrumb-item text-sm text-dark active"
            aria-current="page"
          >{{page}}</li>
        </ol>
        <p class="font-weight-bolder mb-0">{{page}}</p>
      </nav>
      <div
        class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4"
        id="navbar"
      >

        <ul class="navbar-nav justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a
              class="btn btn-outline-primary btn-sm mb-0 me-3"
              href="/team/create"
            >Create Team</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- End Navbar -->
  <div class="container-fluid py-4">
    <div class="row">
      {{#if error}}
        <p class="error message-div">{{error}}</p>
      {{/if}}
      {{#if success}}
        <p class="success message-div">{{success}}</p>
      {{/if}}
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder"
                >Team</th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2"
                >Created At</th>
                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder"
                >Members</th>
                                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder"
                >Minimum Age</th>
                                <th
                  class="text-uppercase text-secondary text-xxs font-weight-bolder"
                >Description</th>
                <th
                  class="text-center text-uppercase text-secondary text-xxs font-weight-bolder"
                >Options</th>
              </tr>
            </thead>
            <tbody>
              {{#if teams}}
              {{#each teams}}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">

                      <div class="d-flex flex-column justify-content-center">
                        <p class="mb-0 text-sm" style="text-transform: uppercase;">{{this.teamName}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="mb-0 text-sm">{{this.dateCreated}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="mb-0 text-sm">{{this.numMembers}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="mb-0 text-sm">{{this.ageMin}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="mb-0 text-sm">{{this.description}}</p>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle text-center text-sm">
                    
                    {{#checkInputValue ../userData this.creatorID true }}
                    <a href="/team/delete/{{../this._id}}"><span
                      class="badge badge-sm bg-gradient-danger"
                    >Delete Team</span></a>
                    {{/checkInputValue}}

                   {{#checkInputValue ../userData this.admins true }}
                    <a href="/team/edit/{{../this._id}}"><span
                      class="badge badge-sm bg-gradient-secondary"
                    >Edit Team</span></a>
                    {{/checkInputValue}}
                    
                     {{#checkInputValue ../userData this.members false }}
                     {{#unless ../this.private}}
                    <a href="/team/addMember/{{../../this._id}}"><span class="badge badge-sm bg-gradient-success"
                    >Join Team</span></a>
                    {{/unless}}
                    {{/checkInputValue}}

                     <a href="/team/info/{{this._id}}">
                     <span
                      class="badge badge-sm bg-gradient-warning"
                    >Team Info</span></a>
                  </td>

                </tr>
              {{/each}}
              {{/if}}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</main>

