<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page">{{page}}</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">{{page}}</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">

        <ul class="navbar-nav justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3" href="/team/">Back</a>
          </li>
          {{#if creatorUser}}
          <li class="nav-item d-flex align-items-center">
            <a class="btn btn-outline-primary btn-sm mb-0 me-3" href="/team/createTask/{{teamData._id}}">Create Task</a>
          </li>
          {{/if}}
          {{#if teamUser}}
          <li class="nav-item d-flex align-items-center">
            <button class="btn btn-outline-primary btn-sm mb-0 me-3" onclick="loadCommentForm()">Add Comment</button>
          </li>
          {{/if}}

        </ul>
      </div>
    </div>
  </nav>

  <!-- End Navbar -->
  <div class="container-fluid py-4">
    <div class="row">
      {{#if error}}
      <p class="error message-div">{{error}}</p>
      {{/if}}
      {{#if success}}
      <p class="success message-div">{{success}}</p>
      {{/if}}
      <div class="row">
        <div class="col-md-6">
          <label>About Team</label>
          <div>
            <ul class="navbar-nav justify-content-end">
              <li class="nav-item d-flex align-items-center">
                <div>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm" style="text-transform: uppercase;">Team Name :
                        {{teamData.teamName}}</h6>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item d-flex align-items-center">
                <div>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm" style="text-transform: uppercase;">Created At :
                        {{teamData.dateCreated}}</h6>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item d-flex align-items-center">
                <div>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm" style="text-transform: uppercase;">Number of Members :
                        {{teamData.numMembers}}</h6>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item d-flex align-items-center">
                <div>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm" style="text-transform: uppercase;"> Minimum User Age:
                        {{teamData.ageMin}}</h6>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item d-flex align-items-center">
                <div>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm" style="text-transform: uppercase;"> Minimum User Age:
                        {{teamData.ageMin}}</h6>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item d-flex align-items-center">
                <div>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm" style="text-transform: uppercase;"> Team User Limit:
                        {{teamData.memberLimit}}</h6>
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <label>Team Members</label>
          <div>
            <ul class="navbar-nav justify-content-end">
              {{#each teamMembers}}
              <li class="nav-item d-flex align-items-center">
                <div>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm" style="text-transform: uppercase;">{{this.firstName}} {{this.lastName}}
                        {{#checkInputValue this._id ../teamData.creatorID true}}
                        (Creator)
                        {{/checkInputValue}}
                        {{#checkInputValue this._id ../teamData.admins true}}
                        {{#checkInputValue ../this._id ../../teamData.creatorID false}}
                        (Admin)
                        {{/checkInputValue}}
                        {{/checkInputValue}}
                      </h6>
                    </div>
                  </div>
                </div>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      {{#if teamUser}}
        <div class="row">
        <div class="col-md-12 mt-4">
          <div class="card">
            <div class="card-header pb-0 px-3">
              <h6 class="mb-0">Team Comments</h6>
            </div>
            <div class="card-body pt-4 p-3">
              <ul class="list-group">
                {{#each teamData.comments}}
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-3 text-sm">{{this.userName}}, {{this.createdAt}}</h6>
                    <span class="mb-2 text-xs"><span
                        class="text-dark font-weight-bold ms-sm-2">{{this.comment}}</span></span>
                  </div>
                  {{#if ../adminUser}}
                  <div class="ms-auto text-end">
                    <a class="btn btn-link text-danger text-gradient px-3 mb-0"
                      href="/team/deleteComment/{{this._id}}/{{../teamData._id}}"><i
                        class="far fa-trash-alt me-2"></i>Delete</a>
                  </div>
                  {{/if}}
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>

      </div>
      {{else}}
      {{#unless teamData.private}}
      <div class="row">
        <div class="col-md-12 mt-4">
          <div class="card">
            <div class="card-header pb-0 px-3">
              <h6 class="mb-0">Team Comments</h6>
            </div>
            <div class="card-body pt-4 p-3">
              <ul class="list-group">
                {{#each teamData.comments}}
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-3 text-sm">{{this.userName}}, {{this.createdAt}}</h6>
                    <span class="mb-2 text-xs"><span
                        class="text-dark font-weight-bold ms-sm-2">{{this.comment}}</span></span>
                  </div>
                  {{#if ../adminUser}}
                  <div class="ms-auto text-end">
                    <a class="btn btn-link text-danger text-gradient px-3 mb-0"
                      href="/team/deleteComment/{{this._id}}/{{../teamData._id}}"><i
                        class="far fa-trash-alt me-2"></i>Delete</a>
                  </div>
                  {{/if}}
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>

      </div>
    {{/unless}}
    {{/if}}

    </div>
  </div>
</main>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="Comment Modal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Comment Modal">Add Team Comment</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form role="form" id="comment-form" action="/team/addComment/{{teamData._id}}" method="post">
        <div class="modal-body">
          <label>Comment</label>
          <div class="mb-3 comment-div">
            <textarea class="form-control required" aria-label="comment" aria-describedby="comment-addon"
              name="comment" /></textarea>
          </div>
          <div></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Comment</button>
        </div>
      </form>
    </div>
  </div>
</div>


{{#section "script"}}
<script>
  function loadCommentForm() {
    $('#exampleModal').modal('toggle');
  }
  jQuery(document).ready(function () {
    jQuery("#comment-form").validate({
      ignore: [],
      rules: {
        comment: {
          required: true,
          minlength: 5
        },
      },
      errorPlacement: function (error, element) {
        error.insertAfter("." + element.attr("name") + "-div");
      },
      submitHandler: function (form) {
        form.submit();
      },
    });

  });


</script>
{{/section}}