<main
  class="main-content position-relative max-height-vh-100 h-100 border-radius-lg"
>
  <nav
    class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
    id="navbarBlur"
  >
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a
              class="text-dark"
              href="javascript:;"
            >Pages</a></li>
          <li
            class="breadcrumb-item text-sm text-dark active"
            aria-current="page"
          >{{page}}</li>
        </ol>
        <p class="font-weight-bolder mb-0 text-dark">{{page}}</p>
      </nav>
      <div
        class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4"
        id="navbar"
      >

        <ul class="navbar-nav justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a
              class="btn btn-outline-primary btn-sm mb-0 me-3"
              href="/feed/createfeed"
            >Create Feed Post</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="card-body pt-4 p-3">
    <ul class="list-group">
      {{#each feedList}}
        <li
          class="list-group-item border-2 d-flex p-4 mb-2 bg-gray-100 border-radius-lg"
        >
          <div class="d-flex flex-column">
            <div>
              <p class="mb-0 text-dark">{{this.title}}</p>
            </div>
            <p class="mb-3 text-sm text-dark">{{this.createdByID}},
              {{this.dataPosted}}</p>
            <div class="mb-2"><span
                class="text-dark font-weight-bold ms-sm-2"
              >{{this.description}}</span></div>
            <div class="flex row">
              <a href="/feed/post/{{this._id}}">Comments</a>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>

</main>