<main
  class="main-content position-relative max-height-vh-100 h-100 border-radius-lg"
>
  <nav
    class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"
    id="navbarBlur"
  >
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a
              class="opacity-5 text-dark"
              href="javascript:;"
            >Pages</a></li>
          <li
            class="breadcrumb-item text-sm text-dark active"
            aria-current="page"
          >{{page}}</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">{{page}}</h6>
      </nav>
      <div
        class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4"
        id="navbar"
      >

        <ul class="navbar-nav justify-content-end">
          <li class="nav-item d-flex align-items-center">
            <a
              class="btn btn-outline-primary btn-sm mb-0 me-3"
              href="/feed/createfeed"
            >Create Feed Post</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid py-4">
    <div class="flex col">
      {{#each feedList}}
        <div class="flex col mb-2">
          <div class="flex row">
            <h5>{{this.title}}</h5>
            <h6>{{this.createdByID}}</h6>
          </div>
          <div class="">
            <p>{{this.description}}</p>
          </div>
          <div class="">
            <p>Date: {{this.dataPosted}}</p>
            <a href="/feed/post/{{this._id}}">Comments</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</main>